[user]
	email = itsmyfirstname@pm.me
	name = itsmyfirstname
[push]
	autoSetupRemote = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RF
[interactive]
	diffFilter = diff-so-fancy --patch
[diff]
	tool = nvimdiff
[alias]
	review = "difftool -y"
	acp = "!f() { if [ $# -eq 0 ]; then echo 'usage: git acp \"commit message\"'; return 1; fi; git add -A && git commit -m \"$*\" && git push; }; f"
	nb = "switch -c"
